<div class="whitebox">
  <div class="boxtext">

<p id="notice"><%= notice %></p>

<h1>Featured Properties</h1>

<% @properties.each do |property| %>
<div class="ui cards">
  <div class="card">
    <a class="image">
      <img src= <%= property.image %> >
    </a>
    <div class="content">
      <a class="header"><%= property.name %></a>
      <div class="meta">
        <a><%= property.location %></a>
      </div> 
      <div class="description">
        <%= property.description %>
      </div>
    </div>
  </div>
<% end %> 

  </div>
<div>